*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.title{
    text-align: center;
    font-size: 30px;  
}
.menu{
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: rgb(76, 76, 167);
}
.majormenu{
    font-size: 20px;
    text-align: center;
    width: 200px;
    line-height: 50px;
    color:white;
    background-color: rgb(76, 76, 167);
    border:none;
}
.majormenu:hover{
    background-color: rgb(43, 43, 128);
}
.majormenu:focus{
    background-color: rgb(43, 43, 128);
}
.mycoursemenu{
    font-size: 20px;
    text-align: center;
    width: 200px;
    line-height: 50px;
    color:white;
    text-decoration: none;
}
.mycoursemenu:hover{
    background-color: rgb(43, 43, 128);
}
.programDiv{
    background-color: rgb(202, 202, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
}
.programDiv2{
    background-color: rgb(202, 202, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
}
.program{
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
    font-weight: 900;
}
.programCheck{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
.checkLabel{
    margin-left: 30px;
    zoom:1.2;
}
.SearchDiv{
    height: 50px;
    background-color: rgb(165, 165, 211);
    display: flex;
    justify-content: center;
}
.courseName{
    margin: 0;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}
#searchbtn{
    height: 30px;
    margin-top: 10px;
    background-color: rgb(76, 76, 167);
    border: none;
    width: 180px;
    color:white;
    font-size: 18px;
    border-radius: 0.3em;
    box-shadow: 3px 2px 5px #888888;
}
#searchbtn:hover{
    background-color: rgb(120, 120, 180);
}
.courselistDiv{
    display: flex;
    flex-direction: row;
}
.termDiv{
    padding-top: 10px;
    width: 350px;
    background-color: rgb(93, 93, 168);
    height: 120vh;
    display: flex;
    flex-direction: column;
}
.termbtn{
    font-size: 25px;
    height: 70px;
    border: none;
    background-color: rgb(93, 93, 168);
    color: white;
}
.termbtn:hover{
    background-color: rgb(64, 64, 134);
}
.termbtn:focus{
    background-color: rgb(64, 64, 134);
}
.courseDetailDiv1{
    display: flex;
    flex-direction: column;
    padding:7%;
    padding-top: 40px;
}
.courseDetailDiv2{
    width:100vh;
    height: 250px;
    box-shadow: 7px 7px 20px #888888;
    margin-bottom: 80px;
}
.courseDetailName{
    font-size: 25px;
    background-color: rgb(76, 76, 167);
    color:white;
    height: 40px;
    padding-left: 20px;
    line-height: 40px;
}
.courseDetailDiv3{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    font-size: 20px;
}
.courseDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registerbtn{
    height: 40px;
    margin-top: 20px;
    background-color: rgb(76, 76, 167);
    border: none;
    width: 180px;
    color:white;
    font-size: 18px;
    border-radius: 0.3em;
    box-shadow: 3px 2px 5px #888888;
}
.registerbtn:hover{
    background-color: rgb(120, 120, 180);
}
.deletebtn{
    height: 40px;
    margin-top: 20px;
    background-color: rgb(76, 76, 167);
    border: none;
    width: 180px;
    color:white;
    font-size: 18px;
    border-radius: 0.3em;
    box-shadow: 3px 2px 5px #888888;
}
.deletebtn:hover{
    background-color: rgb(120, 120, 180);
}