*{
    box-sizing: content-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header{
    margin: 10px;
}

.imagen{
    margin-left: 10px;
    width: 150px;
}

.title{
 text-align: center;
 margin-bottom: 55px;
 background-color: rgb(76, 76, 167);
 padding: 15px;
 width: 100%;
 color: white;
}

.title-loginpage{
    text-align: center;
}

.select-user{
    width: 250px;
    display: block;
    padding: 20px;
    margin: 25px;
    margin-top: 25px;
    margin-left: 45px;
}

.container{
    background-color: rgb(202, 202, 233);
    display: flex;
    margin-top: 60px;
    justify-content: center;
    width: 500px;
    height: 400px;
    padding: 30px;
    align-items: center;
    box-shadow: 3px 2px 5px #888888;  
}

.input{
    width: 250px;
    display: block;
    padding: 20px;
    margin: 25px;
    margin-top: 25px;
    margin-left: 45px;  
}
.centerdiv{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    margin: 0;
}



